//顏色

//背景顏色
$background-color: linear-gradient(117deg, #fad5c2 0%, #bdbef4 99.3%);

//主色
$primary-color-1: #343575 !default;
$primary-color-2: #66669a !default;
$primary-color-3: rgba(238, 238, 238, 0.8) !default;
$primary-color-4: rgba(255, 255, 255, 0.8) !default;

//輔色
$secondary-color-1: #faeee9 !default;
$secondary-color-2: rgba(238, 238, 238, 0.6) !default;
$secondary-color-3: #ffc595 !default;
$secondary-color-4: #c3c4e5 !default;

//自然色
$white: #fff !default;
$gray: #a3a3a3 !default;
$black: #000 !default;

body {
  background: $background-color;
}

h1 {
  color: $primary-color-1;
}
