// 引用字體
@font-face {
    font-family: "jfopen";
    font-display: swap;
    src: local("jfopen"),
        url("../fonts/jf-openhuninn-2.0.ttf");
}

//設定字體大小變數
$fs40: 40px;
$fs32: 32px;
$fs24: 24px;
$fs20: 20px;
$fs16: 16px;
$fs14: 14px;
$fs12: 12px;

//設定字體粗度
$fw400: 400;
$fw500: 500;
$fw600: 600;



//初始化網頁字體及大小
html {
    font-family: "jfopen", "Microsoft JhengHei", "PingFang TC", "Noto Sans TC", "微軟正黑體", sans-serif, Arial, Helvetica;
    font-size: $fs16;

    // @include breakpoint($grid-breakpoints, "sm") {
    //     font-size: 14px;
    // }
}

h1 {
    font-size: $fs40;
    font-weight: $fw600;
    line-height: 165%;
}

h2 {
    font-size: $fs32;
    font-weight: $fw500;
    line-height: 140%;
}

h3 {
    font-size: $fs24;
    font-weight: $fw500;
    line-height: 140%;
}

h4 {
    font-size: $fs24;
    font-weight: $fw500;
    line-height: 140%;
}

h5 {
    font-size: $fs20;
    font-weight: $fw400;
    line-height: 140%;
}

p {
    font-size: $fs16;
    line-height: 120%;
}


a {
    text-decoration: none;
    display: block;

    // 超過空間文字變成...
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}