.bmain-block {
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  .blurred {
    filter: blur(5.5px);
  }

  .bmain {
    display: flex;
    height: 100vh;
    .bsection-left {
      width: 17%;
      background-color: #f2effb;
    }

    .bsection-right {
      display: flex;
      flex-direction: column;
      background-color: #fff;
      width: 83%;

      &__tableSection {
        overflow-y: auto;
        flex: 1;
        padding: 32px;
        display: flex;
        flex-direction: column;
        gap: 16px;
      }
    }
  }
}
