.bmain-block {
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100vh;

    .blurred {
        filter: blur(5.5px);
    }

    .bmain {
        display: flex;
        height: 100%;


        .bsection-left {
            width: 15%;

            background-color: #FAD5C2;
        }

        .bsection-right {
            background-color: #ffff;
            width: 85%;
        }
    }
}