.bmain-block {
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100vh;

  .blurred {
    filter: blur(5.5px);
  }

  .bmain {
    display: flex;
    height: 100%;

    .bsection-left {
      width: 20%;

      background-color: #f2effb;
    }

    .bsection-right {
      display: flex;
      flex-direction: column;
      background-color: #fff;
      width: 80%;

      &__tableSection {
        flex: 1;
        padding: 48px 32px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }
}

.topBar {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  background-color: #7957d5;

  &__title {
    color: white;
  }

  &__info {
    display: flex;
    gap: 16px;
    align-items: center;
  }
  &__infoImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url("/src/assets/images/user/userimage.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__infoName {
    font-size: 24px;
    color: white;
  }
}
