body {
    height: 100%;
}

main.main-block {

    // width: 100%;
    max-width: 1440px;
    height: 100vh;
    display: flex;

    .main {
        margin: 40px;
        background-color: $secondary-color-2;
        border-radius: 40px;
        display: flex;
        flex-direction: row;
        flex: 1;

        .section {
            &-left {
                background-color: $secondary-color-1;
                border-top-left-radius: 40px;
                border-bottom-left-radius: 40px;
                height: 100%;
                min-height: 100%;
                display: flex;
                flex-direction: column;

                .left-expand {
                    width: 280px;
                    padding: 12px 20px;
                    text-align: right;

                    .statement {
                        font-size: $fs14;
                        color: $primary-color-1;
                        padding-bottom: 12px;
                        text-align: left;
                    }

                    .arrowBtn {
                        transform: rotate(0deg);
                        transition: transform .8s;
                    }

                    &-off {
                        width: 100px;
                        text-align: center;

                        .statement {
                            display: none;
                        }

                        .arrowBtn {
                            transform: rotate(180deg);
                        }
                    }
                }
            }

            &-right {
                display: flex;
                flex-direction: column;
                flex: 1 1 0%;
                padding: 20px;
                height: 100%;
                min-height: 100%;
                overflow-y: auto;
            }

        }
    }
}