*{
  // outline: 1px solid red;
}
.about-us{

  // border: 5px solid blue;
  width: 100%;
  margin: 0 auto;
  padding: 32px;

  @include media-breakpoint-only(lg) {
    // border: 3px solid darkblue;
    padding: 0;
  }

  @include media-breakpoint-only(md) { 
    // border: 3px solid darkblue;
    padding: 20px;
  }

  @include media-breakpoint-only(sm) {
    // border: 3px solid darkblue;
    padding: 0px;
  }

  @include media-breakpoint-only(xs) { 
    // border: 2px solid darkblue;
    padding: 0;
  }

  // ------------ 關於我們 --------------
  .about_grid{
    // border: 2px solid darkgoldenrod;
    background-color: #EED0CC;
    border-radius: 20px;
    width: 100%;
    display: grid;
    grid-template-columns:1fr 1fr;
    column-gap: 70px;
    padding: 40px;
    position: relative;
    padding-bottom: 80px;

    @include media-breakpoint-only(md) { 
      // border: 3px solid darkblue;
      padding: 24px;
    }

    @include media-breakpoint-only(sm) { 
      // border: 2px solid darkgoldenrod;
      background-color: transparent;
      display: grid;
      grid-template-columns: auto;
      position: initial;
    }

    @include media-breakpoint-only(xs) {
      // border: 2px solid darkblue; 
      background-color: transparent;
      display: grid;
      grid-template-columns: auto;
      position: initial;
      padding: 26px;
    }

    .about_left{
      @include media-breakpoint-only(sm) { 
        order: 2;
      }

      @include media-breakpoint-only(xs) { 
        order: 2;
      }
      // border: 2px solid darkgreen;
      h1{
        margin-bottom: 22px;
        @include media-breakpoint-only(md) { 
          font-size: $fs32;
        }

        @include media-breakpoint-only(sm) { 
          text-align: center;
        }

        @include media-breakpoint-only(xs) { 
          text-align: center;
        }
        
      }

      p{
        font-size: $fs24;
        color: $primary-color-2;
        line-height: 1.5;
        // font-weight: $fw500;
        @include media-breakpoint-only(md) { 
          font-size: $fs20;
        }

        @include media-breakpoint-only(xs) { 
          width: 100%;
          // border: 1px solid darkgoldenrod;
        }
      }
    }

    .about_right{
      // border: 2px solid darkmagenta;
      @include media-breakpoint-only(sm) { 
        // border: 2px solid darkblue;
        order: 1;
      }

      @include media-breakpoint-only(xs) { 
        width: 100%;
        order: 1;
      }
      img{
        // border: 1px solid darkblue;
        width:450px;
        position: absolute;
        top: 50px;
        @include media-breakpoint-only(lg) {
          width: 400px;
          // border: 1px solid darkblue;
          right: 0;
          top: 80px;
        }

        @include media-breakpoint-only(md) { 
          // border: 3px solid darkblue;
          width: 270px;
          position: initial;
        }

        @include media-breakpoint-only(sm) { 
          border: 3px solid rgb(139, 0, 51);
          position: initial;
          margin-bottom: 32px;
          width: 100%;
        }

        @include media-breakpoint-only(xs) { 
          // border: 2px solid darkgreen;
          width: 100%;
          position: initial;
          margin-bottom: 32px;
        }
      }
    }
  }
  

  // ------------ 主打功能 --------------

  .subtitle{
    // border: 1px solid darkblue;
    margin: 112px 0 60px 0;
    h2{
      text-align: center;
      color: $primary-color-1;
      font-weight: bold;
    }
  }

  // ------------ 聊天大廳 --------------

  .subtitle_container{
    // border: 2px solid darkgreen;
    width: 100%;
    margin: 0 auto;
    

    .chatroom{
      // border: 1px solid darkmagenta;
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 96px;
      width: 100%;
      align-items: center;
      padding: 20px;

      @include media-breakpoint-only(sm) { 
        grid-template-columns: auto;
        // border: 2px solid darkblue;
        background-color: rgba(255, 255, 255, 0.6);
      }

      @include media-breakpoint-only(xs) { 
        grid-template-columns: auto;
        // border: 2px solid darkblue;
        background-color: rgba(255, 255, 255, 0.6);
      }

      .room_left{
        // border: 1px solid darkmagenta;
        img{
          width: 100%;

          @include media-breakpoint-only(sm) { 
            // border: 1px solid darkblue;
            margin-left: 90px;
            width: 70%;
          }

          @include media-breakpoint-only(xs) { 
            // border: 1px solid darkblue;
            margin-left: 90px;
            width: 70%;
          }
        }
      }

      .room_right{
        // border: 1px solid darkturquoise;
        width: 100%;
        h2{
          color: $primary-color-1;
          font-weight: bold;
          margin-bottom: 32px;
          @include media-breakpoint-only(md) { 
            font-size: $fs32;
            margin-bottom: 22px;
          }

          @include media-breakpoint-only(sm) { 
            // border: 1px solid darkblue;
            text-align: center;
            margin-bottom: 16px;
          }

          @include media-breakpoint-only(xs) { 
            text-align: center;
            margin-bottom: 16px;
          }
          
        }
        p{
          font-size: $fs24;
          color: $primary-color-2;
          line-height: 1.5;
          @include media-breakpoint-only(md) { 
            font-size: $fs20;
          }

          @include media-breakpoint-only(sm) { 
            padding:0 36px 36px 36px;
          }

          @include media-breakpoint-only(xs) { 
            padding:0 36px 36px 36px;
          }
    
        }
      }
    }

  // ------------ 遊樂場 --------------

    .playground{
      // border: 2px solid darkblue;
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 96px;
      width: 100%;
      align-items: center;
      margin-top: 40px;

      @include media-breakpoint-only(sm) { 
        grid-template-columns: auto;
        background-color: rgba(255, 255, 255, 0.6);
        height: 750px;
      }

      @include media-breakpoint-only(xs) { 
        grid-template-columns: auto;
        background-color: rgba(255, 255, 255, 0.6);
        height: 650px;
      }

      .play_left{
        // border: 1px solid darkturquoise;
        width: 100%;
        @include media-breakpoint-only(sm) { 
          order: 2;
        }

        @include media-breakpoint-only(xs) { 
          order: 2;
        }
        h2{
          color: $primary-color-1;
          font-weight: bold;
          margin-bottom:px;
          @include media-breakpoint-only(md) { 
            font-size: $fs32;
            margin-bottom: 22px;
          }
          @include media-breakpoint-only(sm) { 
            text-align: center;
          }

          @include media-breakpoint-only(xs) { 
            text-align: center;
            margin-bottom: 28px;
          }
        }
        p{
          width: 100%;
          font-size: $fs24;
          color: $primary-color-2;
          line-height: 1.5;
          @include media-breakpoint-only(md) { 
            font-size: $fs20;
          }

          @include media-breakpoint-only(sm) { 
            // text-align: center;
            // border: 1px solid darkblue;
            padding: 20px;
          }

          @include media-breakpoint-only(xs) { 
            padding:0 20px 20px 20px;
          }
          
        }
      }

      .play_right{
        img{
          // border: 2px solid darkblue;
          width: 100%;
          @include media-breakpoint-only(sm) { 
            order: 1;
          }

          @include media-breakpoint-only(xs) { 
            order: 1;
          }
        }
      }
    }

    
  }

  // ------------ 團隊介紹 --------------
  
  .introduce{
    // border: 1px solid darkblue;
    margin: 112px 0 60px 0;
    
    h2{
      text-align: center;
      color: $primary-color-1;
      font-weight: bold;
    }
  }

  .team_grid{
    // border: 2px solid darkgreen;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;

    @include media-breakpoint-only(sm) { 
      // border: 1px solid darkblue;
      flex-wrap: nowrap;
      justify-content: flex-start;
      overflow-x:auto;
    }

    @include media-breakpoint-only(xs) { 
      // border: 1px solid darkblue;
      flex-wrap: nowrap;
      justify-content: flex-start;
      overflow-x:auto;
    }
    

    .item{
      // border: 1px solid darkblue;

      img{
        // border: 1px solid darkmagenta;
        width: 180px;
        height: 180px;
        background-color: $white;
        display: block;
        margin: 0 auto;
        border-radius: 80px;

        @include media-breakpoint-only(md) { 
          // border: 3px solid darkblue;
          width: 140px;
          height: 140px;
        }
      }

      h3{
        margin-top: 24px;
        text-align: center;
        color: $primary-color-1;
        font-size: $fs24;
        font-weight: bold;
      }
    }
  }

}

