.activity {
 
    // border: 1px solid red;
    width: 100%;
    height: 100%;
    margin: 0 auto;

    .banner {
        // border: 1px solid orange;
        margin: 0 auto;
        &-top {
            // border: 1px solid black;
            width: 100% ;
            height: 300px;
            border-radius: 20px;
            background-color: #C3C4E5;
            .top-text {
                padding: 30px;
                .title {
                    color:$primary-color-1;
                    font-size: $fs40;
                    line-height: 2;
                    font-weight: $fw600;
                }
                .sub-title {
                    color: $primary-color-1;
                    font-size: $fs24;
                    font-weight: $fw600;
                    line-height: 1.5;
                }
                

            }
        }
        &-search {
            // border: 1px solid black;
            position: relative;
            display: flex;

            .search-container{
                flex: 1;
                margin-top:10px;

                .form{
                    width: 50%;
                    
                    height: 50px;
                    background-color: $white;
                    border-radius: 100px;
                    display: flex;
                    padding: 1% 2%;

                    > input {
                        background-color: transparent;
                        border:0; 
                        outline: none;
                        flex: 1;
                       
                    }
                    > button {
                        background-color: transparent;
                        border: 0;
                        >img {
                          
                            width: 70%;
                            background-color: transparent;
                        }
                    }
                }
            }
            .search-pic {
                position: absolute;
                width: 50%;
                top: -300px; //又沒有辦法自動抓圖片高度設變數
                right: 0;

                >img {
                    width: 100%;
                }
            }

        }
        &-pic {
            // border: 1px solid black;
    
        }
        


    }
  

    .topic-container {
        // border: 1px solid green;
        width: 100%;
        height: 460px;
        .cards {
            width: 90%;
            height: 90%;
            display: flex;
            gap: 20px;
            align-items: center;
            margin: 0 auto;

            .card {
                // border: 2px solid yellow;
                height: 100%;
                width: 100%;
                border-radius: 32px;
                gap: 10px;

                .card-pic {
                    width: 100%;
                    height: 75%;
                    position: relative;
                    >img {
                       
                        width: 100%;
                        height: 100%;
                        border-radius: 32px 32px 0 0;
                        background-position: center;
                        background-size: cover;
                    }
                    .location {
                        position: absolute;
                        top: 30px;
                        left: 30px;
                        color: $white;
                        height: 25px;
                        display: flex;
                        align-items: center;
                        gap: 4px;
                        
                        >img {
                            width: 25px;
                            height: 25px;                           
                        }

                    }
                }
                .card-details {
                    background-color: $white;
                    border-radius: 0 0 32px 32px;
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    justify-content: center;
                    align-items: center;

                    &-title {
                        font-style: $fs24;
                        font-weight: $fw600;
                        color: $primary-color-1;
                    }
                    &-info {
                        display: flex;
                        gap: 4px;
                        font-size: $fs14;
                        color: $gray;
                        align-items: center;
                        >img{
                            width: 20px;
                            height: 20px;
                        }
                        >div{
                            color: $primary-color-2
                        }
                    }

                }

            }

            
            .arrow{
                >img{
                    width: 30px;
                    height: 30px;
                }

            }
           
        }
            

        
    }

    .sub-bar {
        // border: 1px solid purple;

        > div {
            margin: 20px 0 20px 0 ;
            border-radius: 0 20px 20px 0;
            width: 200px;
            height: 45px;
            background-color: $primary-color-2;

            text-align: center;
            line-height: 45px;
            font-size: $fs24;
            color: $white;
        }

    }
   
    .region-cards {
        // border: 1px solid blue;
        display: flex;
        align-items: center;
        justify-content: center;

        .region {
            // border: 1px solid blue;
            width: 240px;
            align-items: center;
            >a {
                .region-pic {
                    margin: 0 auto;
                    height: 200px;
                    width: 200px;
                    overflow: hidden;
                    border-radius: 50%;
                    >img {
                        height: 100%;
                        width: 100%;
                        background-position: center;
                        background-size: cover;
                    }
    
    
                }
                .region-text {
                    height: 10%;
                    color: $black;
                    font-style: $fs14;
                    text-align: center;
                    margin-top: 10px;
    
                }


            }

        }
        
    }


    .upcoming-cards {
        // border: 1px solid purple;
        display: flex;
        gap: 32px;
        justify-content: center;
        

        .upcoming-card{
            border: 1px soild purple;
            width: 350px;
            .card-pic{
                border: 2px soild purple;
                width: 100%;
                height: 200px;
                border-radius: 32px 32px 0 0;
                overflow: hidden;
                >img{
                    width: 100%;
                    background-position: center;
                    background-size: cover;


                }
            }
            .card-detail{
                // border: 1px solid red;
                width: 100%;
                padding: 15px;
                display: flex;
                flex-direction: column;
                gap: 10px;
                align-items: center;
                background-color: $white;
                border-radius: 0 0 32px 32px;
                .title{
                // border: 1px solid red;
                    font-size: $fs20;
                    color:$primary-color-1
                }
                .date{
                    font-size: $fs14;
                    color: $primary-color-1;
                }
                >button {
                    @include btnColor($primary-color-1);
                    width: 140px;
                    font-size:$fs20;
                }
            }
        }
        
        
        }
        .contact{
            background-color: $primary-color-2;
            width: 60px;
            height: 60px;
            padding-top: 5px;
            position:absolute;
            right: 60px;
            bottom:60px;
            border-radius: 50%;
           display: flex;
           justify-content: center;
           align-items: center;
           .img-container{
            >img{
                width: 40px;
                height: 40px;
            }
           }
    }
}
