.b_index {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin: 0 auto;

    padding: 50px;
    background-color: #FAD5C2;

    .b_index_login {
        border-radius: 30px;
        width: 50%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #FAEEE9;
        font-size: $fs24;
        color: $primary-color-1;

        input {
            width: 460px;
        }
    }

    img {
        margin-top: 10px;
        width: 150px;
        height: 150px;
    }

    .login-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px 0;

        label {
            margin: 10px 0;
        }

        input {
            margin: 10px 0;
        }
    }
}