// .messages {
//     list-style: none;
//     padding: 0;

//     li {
//         margin: 10px 0;

//         span {
//             display: block;
//             padding: 8px;
//             border-radius: 5px;
//             word-break: break-all;
//             background-color: $primary-color-2;
//         }

//         &.is-right {
//             span {
//                 background-color: $primary-color-1;
//                 color: white;
//                 // float: right;
//             }
//         }
//     }
// }

// ul.messages {
//     list-style: none;
//     padding: 0;
//     margin: 0;

//     li {
//         margin-bottom: 10px;
//         word-wrap: break-word;
//         max-width: 70%;

//         span {
//             display: inline-block;
//             padding: 8px 12px;
//             border-radius: 8px;
//             font-size: 16px;
//             line-height: 1.4;
//         }

//         &.is-right {
//             span {
//                 background-color: #343575;
//                 float: right;
//                 color: white;
//             }
//         }

//         &.is-left {
//             span {
//                 background-color: #C7CEEA;
//                 float: left;
//             }
//         }
//     }
// }
.chatroom-start {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    h1 {
        margin-bottom: 10px;
    }

    .user-img-section {
        display: flex;

        .img-select {
            margin: 10px 0;

            img {
                margin: 20px;
                cursor: pointer;
                transition: all 0.5s;

                &:hover {
                    position: relative;
                    filter: drop-shadow(3px 3px 5px gray);
                    border-radius: 50%;
                }
            }

            .active {
                filter: drop-shadow(3px 3px 5px gray);
            }

        }
    }


    .user-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    input {
        width: 350px;
        font-size: $fs16;
        border: none;
        border-radius: 100px;
        padding: 16px;
        margin-bottom: 20px;
        line-height: 140%;
        color: $primary-color-1;

        &:focus {
            outline-color: $primary-color-2;
        }
    }

    .chatbtn {
        width: 350px;
        // height: 60px;
    }
}

.chatroom {

    border-radius: 40px;
    width: 100%;
    // opacity: 80%;
    padding: 0 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;

    h1 {
        text-align: center;
        margin-bottom: 50px;
    }

    .chat-section {
        img {
            width: 40px;
            height: 40px;
        }

        ul {
            display: flex;
            flex-direction: column;
            padding-top: 12px;

            span.middle {
                margin: 10px 0;
            }

            span.top {
                display: flex;
                margin: 5px 0;

                li {
                    color: $primary-color-2 ;
                    margin: 8px 12px 8px 0;
                    font-size: $fs14;

                }

                .username {
                    color: $primary-color-1 ;
                    font-size: $fs16;
                }

            }

            .user-right {
                display: flex;

                justify-content: flex-end;
                margin-left: auto;
            }

            .content-left {
                display: flex;

                background-color: $secondary-color-4;
                margin-right: auto;

                li {
                    color: $primary-color-1;
                }
            }

            .content-right {
                align-self: flex-end;
                background-color: $primary-color-1;
                margin-left: auto;

                li {
                    color: $white;
                }

            }

            span.bottom {
                // width: 383.75px;
                width: auto;
                min-width: 200px;
                min-height: 30px;
                border-radius: 12px;
                padding: 8px 12px;
            }

        }



    }

    .user-section {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        padding: 20px 20px 20px 20px;
        justify-content: center;
        align-items: center;

        border-top: 1px solid $secondary-color-4;

        // .user-content {
        //     margin: 50px 0;
        // }

        input {
            width: 650px;
            // height: 68px;
            // background-color: $secondary-color-4;
            // font-size: $fs20;
            margin-right: 20px;
            border: none;
            border-radius: 30px;
            line-height: 140%;
            padding: 12px;
            color: $primary-color-1;

            &:focus {
                outline-color: $primary-color-2;
            }
        }

        .chatbtn {
            padding: 8px;
        }


    }
}