// .messages {
//     list-style: none;
//     padding: 0;

//     li {
//         margin: 10px 0;

//         span {
//             display: block;
//             padding: 8px;
//             border-radius: 5px;
//             word-break: break-all;
//             background-color: $primary-color-2;
//         }

//         &.is-right {
//             span {
//                 background-color: $primary-color-1;
//                 color: white;
//                 // float: right;
//             }
//         }
//     }
// }

// ul.messages {
//     list-style: none;
//     padding: 0;
//     margin: 0;

//     li {
//         margin-bottom: 10px;
//         word-wrap: break-word;
//         max-width: 70%;

//         span {
//             display: inline-block;
//             padding: 8px 12px;
//             border-radius: 8px;
//             font-size: 16px;
//             line-height: 1.4;
//         }

//         &.is-right {
//             span {
//                 background-color: #343575;
//                 float: right;
//                 color: white;
//             }
//         }

//         &.is-left {
//             span {
//                 background-color: #C7CEEA;
//                 float: left;
//             }
//         }
//     }
// }
.chatroom-start {
    width: 1000px;
    height: 100%;

    opacity: 80%;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    h1 {
        margin-bottom: 40px;
    }

    .user-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    input {
        width: 350px;
        height: 59px;
        background-color: #FFFFFF;
        font-size: $fs24;
        margin-right: 20px;
        border: none;
        border-radius: 30px;
        padding: 12px 16px;
        margin-bottom: 40px;
    }

    .chatbtn {
        width: 350px;
        height: 54px;
        border-radius: 30px;
        border: none;
        background-color: $primary-color-1;
        color: white;
        font-size: $fs24;
    }
}

.chatroom {

    border-radius: 40px;
    width: 100%;

    opacity: 80%;
    padding: 50px;

    h1 {
        text-align: center;
        margin-bottom: 50px;
    }

    .chat-section {

        ul {
            display: flex;
            flex-direction: column;
            border-radius: 20px;
            // width: 383.75px;
            margin: 20px;
            padding: 20px;

            span.top {
                color: $primary-color-1;
                display: flex;
            }

            .user-left {
                margin-right: auto;

            }

            .user-right {
                margin-left: auto;
            }

            .content-left {

                background-color: $primary-color-1;
                margin-right: auto;

                li {
                    color: white;
                }
            }

            .content-right {
                background-color: $secondary-color-4;
                margin-left: auto;

            }


            li {
                margin: 10px 0;
                color: black;
                font-size: $fs24;

            }

            span.top {
                margin-bottom: 20px;


                li {
                    color: $primary-color-1 ;
                    margin-right: 20px;

                }
            }

            span.bottom {
                width: 383.75px;
                border-radius: 20px;
                padding: 15px;
            }

        }



    }

    .user-section {
        display: flex;
        flex-direction: column;
        margin: 20px;
        justify-content: center;
        align-items: center;

        .user-content {
            margin: 50px 0;
        }

        input {
            width: 650px;
            height: 68px;
            background-color: $secondary-color-4;
            font-size: $fs24;
            margin-right: 20px;
            border: none;
            border-radius: 30px;
        }

        .chatbtn {
            width: 195px;
            height: 68px;
            border-radius: 30px;
            border: none;
            background-color: $primary-color-1;
            color: white;
            font-size: $fs24;
        }


    }
}