.login-main {
    margin: 40px;
    background-color: $secondary-color-2;
    border-radius: 20px;
    display: flex;
    flex: 1;
    overflow: hidden;

    @include media-breakpoint-down(md) {
        flex-direction: column;
        margin: 20px;
        border-radius: 0;
        background-color: unset;
        overflow-y: scroll;
    }


    .left-form {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        background-color: $secondary-color-1;

        @include media-breakpoint-down(md) {
            width: 100%;
            background-color: unset;
        }

        img {
            width: 180px;

            @include media-breakpoint-down(md) {
                width: 140px;
            }
        }

        h2 {
            color: $primary-color-1;
        }

        .form {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;

            input {
                width: 250px;
            }

            .input-effect {
                position: relative;

                input {
                    padding: 8px 8px;
                }

                input {
                    +label {
                        position: absolute;
                        left: 8px;
                        width: 100%;
                        top: 10px;
                        color: $primary-color-2;
                        transition: 0.3s;
                        //  z-index: -1;
                        letter-spacing: 0.5px;
                        pointer-events: none;
                    }

                    &:focus+label,
                    &:valid+label {
                        top: -18px;

                    }
                }

                .error-msg {
                    color: brown;
                    font-size: $fs14;
                    width: 100%;
                    text-align: right;
                }
            }

            button {
                width: 100%;
                // margin-top: 20px;
                text-align: center;
            }

            .form-password {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 8px;
                padding-bottom: 40px;

                @include media-breakpoint-down(md) {
                    padding-bottom: 20px;
                }

                a {
                    color: $primary-color-2;
                }
            }

            .sign-up-form {
                display: flex;
                gap: 8px;

                input {
                    width: 120px;
                }

            }

            .base-img {
                display: flex;
                gap: 12px;

                .boy,
                .girl {
                    width: 100px;

                    img {
                        width: 100%;
                    }
                }

                .boy.select,
                .girl.select {
                    background-color: $white;
                    border-radius: 20px;
                }
            }

        }

        a {
            p {
                color: $primary-color-1;
            }
        }
    }

    .right-intro {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include media-breakpoint-down(md) {
            width: 100%;
            flex-direction: column-reverse;
            gap: 20px;
        }

        h3 {
            color: $primary-color-1;
            text-align: center;
            // padding-top: 40px;
        }

        img {
            padding-top: 60px;
            width: 70%;

            @include media-breakpoint-down(md) {
                width: 300px
            }
        }

        p {
            color: $primary-color-1;
            text-align: center;
            padding-bottom: 20px;
            line-height: 150%;
        }
    }
}