.million_school_start {
    width: 100%;
    height: 100%;

    .top {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0 50px 0 10px;

        @include media-breakpoint-down(md) {
            display: block;
            padding: 50px;
            padding: 20px;

        }

        .left {
            width: 60%;
            // height: 600px;
            display: flex;
            flex-direction: column;
            // border: 1px solid black;
            padding-bottom: 40px;
            height: 100%;


            img {
                width: 100%;
                height: 250px;

                @include media-breakpoint-down(md) {
                    height: 200px;
                }

                @include media-breakpoint-down(sm) {
                    height: 150px;
                }
            }

            @include media-breakpoint-down(md) {
                width: 100%;
            }


            .time_down {
                width: 80%;
                margin: 10px auto;

                p {
                    font-size: $fs24;
                    color: $primary-color-1;
                    text-align: center;
                    margin-bottom: 20px;
                }

                .change_red {
                    color: red;
                }

                .bar {
                    border-radius: 10px;
                    margin: 0 auto;
                    width: 100%;
                    height: 21px;
                    background-color: #ffff;

                    div {
                        width: 100%;
                        height: 21px;
                        border-radius: 10px;
                        background-color: $primary-color-2;
                    }

                    .change_barColor {
                        background-color: red;
                    }
                }
            }
        }



        .right_top {

            // display: grid;
            // grid-template-columns: auto auto;
            display: flex;
            justify-content: space-between;
            color: $primary-color-1;
            // padding: 40px;

            span {
                display: flex;
                font-size: $fs24;
                margin-bottom: 30px;

                p {
                    font-size: $fs24;

                }


            }



            p {

                margin-bottom: 16px;
            }
        }

        .right {
            width: 50%;
            display: flex;
            flex-direction: column;


            // text-align: center;
            @include media-breakpoint-down(md) {
                width: 100%;
                margin: 0 auto;

            }
        }

        .right_down {
            h3 {
                font-size: $fs20;
                color: $primary-color-1;
            }

            .ans {

                // display: grid;
                // grid-template-columns: auto auto;
                // @include media-breakpoint-down(md) {
                //     display: grid;
                //     grid-template-columns: auto auto;
                //     gap: 30px;
                // }

                span {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 30px;
                    border-radius: 32px;
                    background-color: #ffff;
                    color: $primary-color-1;
                    cursor: pointer;
                    margin: 20px auto;

                    &:hover {
                        background-color: $primary-color-1;
                        color: white;
                    }

                    @include media-breakpoint-down(md) {
                        height: 60px;
                    }

                }
            }
        }
    }


}