.mypage_edit {
    color: $primary-color-1 ;
    width: 100%;

    .information {
        display: flex;
        font-weight: bold;
        width: 100%;

        .information_write {
            width: 50%;

            // border: 2px solid red;
            @include media-breakpoint-down(md) {
                width: 90%;
                margin: 0 auto;
            }



            .head_sticker {
                display: flex;

                @include media-breakpoint-down(sm) {
                    margin: 20px 0;
                }

                .head_sticker_main {
                    margin: 0 auto;
                    display: flex;
                    align-items: end;

                    @include media-breakpoint-down(sm) {
                        display: block;
                    }

                    div {
                        width: 200px;
                        height: 200px;
                        border-radius: 50%;
                        background-color: white;

                        @include media-breakpoint-down(md) {
                            width: 300px;
                            height: 300px;
                        }

                        img {
                            width: 200px;
                            height: 200px;
                            border-radius: 50%;

                            @include media-breakpoint-down(md) {
                                width: 300px;
                                height: 300px;
                            }
                        }
                    }

                    label {
                        width: 100px;
                        align-items: center;
                        justify-content: center;
                        display: flex;
                        margin: 40px auto;
                        cursor: pointer;



                        input[type=file] {
                            display: none;
                            outline: 0;
                            opacity: 0;

                            // pointer-events: none;
                            // user-select: none;
                        }
                    }
                }
            }

            .short_input {
                display: flex;
                width: 100%;

                @include media-breakpoint-down(sm) {
                    display: block;

                }

                div {
                    padding: 15px;
                    width: 50%;

                    @include media-breakpoint-down(sm) {
                        width: 100%;

                    }

                    input,
                    select {
                        border: none;
                        width: 100%;
                        height: 30px;
                        border-radius: 20px;
                    }
                }
            }

            .long_input {
                div {
                    padding: 15px;

                    input,
                    select {
                        border: none;
                        width: 100%;
                        height: 30px;
                        border-radius: 20px;
                    }
                }
            }

            .big_input {
                div {
                    padding: 15px;

                    textarea {
                        border: none;
                        width: 100%;
                        height: 80px;
                        border-radius: 20px;
                        resize: none
                    }
                }
            }
        }

        .decorate {
            width: 50%;
            position: relative;
            // border: 2px solid blue;

            @include media-breakpoint-down(md) {
                display: none;
            }

            iframe {
                width: 100%;
                height: 350px;
                border: none;
                margin-top: 200px;
                z-index: 1;

            }

            .mask {
                width: 155px;
                height: 40px;
                z-index: 2;
                background-color: rgba(223, 221, 237, 1);
                position: absolute;
                border-radius: 10px;
                top: 61%;
                right: 15px;
                // border: 1px solid black;
            }

            div {
                width: 100%;

                .TibameCAT {
                    position: relative;
                    right: 0;
                    bottom: 130px;

                    .TibameCAT_leave {
                        width: 200px;
                        z-index: 3;
                        position: absolute;
                        top: -10px;
                        right: 15px;
                        opacity: 0;
                    }

                    .TibameCAT_leave_catch {
                        width: 200px;
                        z-index: 4;
                        position: absolute;
                        top: -10px;
                        right: 15px;
                    }

                    .ball {
                        width: 80px;
                        z-index: 5;
                        position: absolute;
                        top: 90px;
                        right: 110px;
                    }

                    .clickme {
                        z-index: 6;
                        font-size: 14px;
                        font-weight: bold;
                        color: purple;
                        position: absolute;
                        top: 120px;
                        right: 115px;
                    }


                }
            }
        }
    }

    .avatar {
        display: flex;
        width: 100%;
        padding-top: 50px;

        @include media-breakpoint-down(md) {
            display: block;
        }

        .preview {
            width: 50%;
            position: relative;
            display: block;
            height: 400px;
            // border: 2px solid green;

            @include media-breakpoint-down(md) {
                margin: 0 auto;
                width: 70%;
                margin-bottom: 20px;
            }

            h4 {
                @include media-breakpoint-down(md) {
                    display: none;
                }
            }


            // .base_plate {
            //     width: 100%;
            //     height: auto;
            //     background-color: white;
            //     border-radius: 20px;
            //     position: absolute;
            //     top: 10%;
            //     left: 50%;
            //     transform: translate(-50%);
            //     z-index: 1;
            // }

            .avatar_preview {
                width: 300px;
                height: 300px;
                position: absolute;
                top: 10%;
                left: 50%;
                transform: translate(-50%);
                z-index: 2;

                @include media-breakpoint-down(md) {
                    width: 400px;
                    height: 400px;
                    position: absolute;
                    top: 0%;

                }

                img {
                    width: 300px;
                    height: 300px;
                    position: absolute;
                    top: 0%;
                    left: 50%;
                    transform: translate(-50%);

                    @include media-breakpoint-down(md) {
                        width: 400px;
                        height: 400px;
                        position: absolute;
                        top: 0%;
                    }
                }
            }
        }

        .avatar_components {
            width: 50%;
            height: 400px;
            // border: 2px solid purple;
            margin: auto 0;

            @include media-breakpoint-down(md) {
                margin: 0 auto;
                width: 100%;
                height: 500px;
            }

            @include media-breakpoint-down(sm) {
                height: 250px;
            }

            .avatar_components_button {
                display: flex;

                .button_group {
                    margin: 0 auto;

                    .face_button,
                    .hair_button,
                    .cloth_button,
                    .accessories_button {
                        background-color: white;
                        border-radius: 10px 10px 0 0;
                        width: 80px;


                        @include media-breakpoint-down(md) {
                            width: 100px;
                        }

                        @include media-breakpoint-down(sm) {
                            width: 70px;
                        }
                    }

                    .active-button {
                        background-color: #66669A;
                        color: white;
                    }
                }
            }

            .avatar_components_assemble {
                position: relative;

                .avatar_components_face {
                    background-color: white;
                    border-radius: 30px;
                    z-index: 2;

                    img {
                        width: 33%;
                        height: auto;
                        // border: 1px solid black;
                        cursor: pointer;
                    }
                }

                .avatar_components_hair,
                .avatar_components_cloth,
                .avatar_components_accessories {
                    background-color: white;
                    border-radius: 30px;
                    z-index: 1;


                    img {
                        width: 33%;
                        height: auto;
                        // border: 1px solid black;
                        cursor: pointer;
                    }

                }
            }

        }
    }

    .submit_div {
        text-align: center;

        @include media-breakpoint-down(sm) {
            padding: 80px 0 0 0;
        }

        @media screen and (max-width: 411px) {
            padding: 0;
        }

        .submit {
            padding: 10px 0;
            width: 150px;
            border-radius: 20px;
            border: none;
            background-color: $primary-color-1 ;
            color: white;
            margin: 30px auto;


        }

    }

}