.snake {


    width: 100%;
    gap: 50px;
    background-image: url("/src/assets/images/snake/snake.svg");
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    // flex-direction: column;
    justify-content: center;
    align-items: center;

    @include media-breakpoint-down(sm) {
        flex-direction: column;
        gap: 10px;
        background-image: url("/src/assets/images/snake/Frame 110.svg");

    }

    .snake_canvas {
        opacity: 0.5;
        border: 2px solid $primary-color-1;

        @include media-breakpoint-down(md) {
            margin-top: 30px;
        }

        @include media-breakpoint-down(sm) {
            width: 200px;
            height: 200px;
        }
    }


    .score-section {
        display: flex;
        flex-direction: column;

        gap: 20px;
        margin: 20px 0;
        justify-content: center;
        align-items: center;
        color: $primary-color-1;

        p {
            font-size: $fs20;
        }

        div {
            width: 100%;
            display: none;


            @include media-breakpoint-down(sm) {
                display: flex;
                justify-content: space-around;

            }

            .left {
                background-color: $primary-color-1;
                color: white;
                padding: 5px 10px;
                font-size: $fs24;
                margin-right: 40px;
                width: 60px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;

                &::after {
                    content: "<";

                }
            }

            .right {
                width: 60px;
                height: 30px;

                background-color: $primary-color-1;
                color: white;
                padding: 5px 10px;
                font-size: $fs24;

                display: flex;
                justify-content: center;
                align-items: center;

                &::after {
                    content: ">";
                }
            }
        }
    }

    button {
        border: 1px solid black;
        background-color: #FFCD4E;
        width: 200px;
        height: 40px;
        border-radius: 40px;

        &:hover {
            background-color: $primary-color-1;
            color: white;
        }
    }


}