.Btn {
    font-size: $fs20;
    width: 150px;
    padding: 8px 0;
    border-radius: 32px;
    position: relative;

    &-dark {
        @include btnColor($primary-color-1)
    }

    &-lg {
        @include btnColor($primary-color-1);
        width: 200px
    }

    &-light {
        @include btnColor($primary-color-3)
    }

    //hover效果
    &:hover {
        transform: scale(1.05);
    }

    //click效果
    &::after {

        content: "";
        display: block;
        position: absolute;
        border-radius: 4em;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: all 0.5s;
        box-shadow: 0 0 10px 40px white;

    }

    &:active {
        &::after {
            box-shadow: 0 0 0 0 white;
            position: absolute;
            border-radius: 32px;
            left: 0;
            top: 0;
            opacity: 1;
            transition: 0s;
        }
    }
}