 input[type=text].inputCommon,
 input[type=password].inputCommon {
     border: none;
     line-height: 140%;
     border-radius: 32px;
     padding: 4px 8px;
     font-size: $fs16;
     color: $primary-color-1;

     &:focus {
         outline-color: $primary-color-2;
         outline-width: 0.5;
     }
 }