nav.nav {

    height: 100%;
    width: 280px;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    overflow: auto;
    flex-wrap: nowrap;
    transition: width .3s linear;

    @include media-breakpoint-down(lg) {
        width: 200px;
    }

    @include media-breakpoint-down(md) {
        width: 100%;
        flex-basis: 50px;
        flex-shrink: 0;
        flex-grow: 0;
    }

    .nav-brandlogo {
        width: 150px;
        padding-top: 80px;

        @include media-breakpoint-down(md) {
            display: none;
        }

        img {
            width: 100%;
        }
    }

    .nav-items {
        padding-top: 40px;
        display: flex;
        flex-direction: column;
        gap: 8px;

        @include media-breakpoint-down(md) {
            flex-direction: row;
            padding-top: 8px;
        }

        @include media-breakpoint-down(sm) {
            gap: 12px;
            padding-top: 0px;
        }


        a {
            color: $primary-color-1;
            line-height: 140%;
            display: flex;
            align-items: center;
            gap: 8px;
            padding: 8px;

            img {
                width: 30px;
            }

            &:hover {
                background: white;
                padding: 8px;
                border-radius: 100px;
            }

            @include media-breakpoint-down(md) {
                h3 {
                    font-size: $fs16;
                }
            }

            @include media-breakpoint-down(sm) {
                h3 {
                    display: none;
                }
            }
        }

        a.current {
            background: white;
            padding: 8px;
            border-radius: 100px;
        }
    }

    &-off {
        width: 100px;

        .nav-brandlogo {
            width: 80px;
        }

        .nav-items {
            gap: 12px;

            a {

                h3 {
                    display: none;
                }
            }
        }
    }
}