.info-block {
    margin-top: 8px;
    width: 100%;
    display: flex;
    align-items: center;

    @include media-breakpoint-down(md) {
        justify-content: space-between;
    }

    .logo-block {
        display: none;

        a {
            width: 135px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        @include media-breakpoint-down(md) {
            display: block;
        }
    }

    .user-info {
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 12px;

        @include media-breakpoint-down(md) {
            height: auto;
        }

        .user-search {
            border-radius: 100px;
            background-color: $white;
            display: flex;
            align-items: center;
            padding: 8px 12px;

            img {
                width: 20px;
            }

            input {
                width: 150px;
                border: 0px;
                color: $primary-color-1;
                padding: 4px;
                line-height: 140%;

                &:focus {
                    width: 250px;
                }

                &:focus-visible {
                    outline: none;
                }

                @include media-breakpoint-down(md) {
                    width: 0px;
                    padding: 0px;

                    &.expand {
                        width: 120px;
                    }
                }
            }

            @include media-breakpoint-down(md) {
                padding: 8px 8px;
            }

        }

        .user-detail-info {
            a {
                display: flex;
                align-items: center;
                gap: 12px;

                .user-image {
                    width: 60px;
                    height: 60px;
                    border-radius: 100px;
                    overflow: hidden;

                    img {
                        width: 100%;
                        vertical-align: middle;
                    }

                    @media (max-width: 767.98px) {
                        width: 50px;
                    }
                }

                h3 {
                    color: $primary-color-1;

                    @media (max-width: 767.98px) {
                        display: none;
                    }
                }
            }
        }

        .login-out {
            cursor: pointer;

            img {
                width: 25px;
            }
        }

    }


}


.hide {
    display: none;
}