@mixin btnColor($bgc) {

    @if $bgc==$primary-color-1 {
        background-color: $bgc;
        color: $white;

    }

    @else if $bgc==$primary-color-3 {
        background-color: $bgc;
        color: $primary-color-1;
    }
}


@mixin inputPlaceholder($text) {}